body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #202122;
  color: #FFF
}

.converter-container {
  text-align: center;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #202122;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
  display: block;
  margin: 10px 0;
}

input, select, button {
  margin: 5px 0;
}

button {
  padding: 8px 16px;
  background-color: #ad0614;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #ff0000;
}

#result {
  margin-top: 20px;
  font-weight: bold;
}
